.page-title {
    /*background-color: #000;*/
    background-image: url("../images/dishes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
    color: #fff;
    font-weight: 900;
}

.fancy {
    font-family: 'Dr Sugiyama', cursive;
    font-size: 2.5rem;
    border-bottom: 2px solid #EABE7C;
}

.about-text p {
    text-align: left;
}

.image-about {
    width: 100%;
    height: auto;
}