p {
    font-size: 1.1rem;
}

.Welcome {
    font-size: 2rem;
    /*text-align: left*/
}

.Diet-options-title {
    font-size: 1.5rem;
}

.About-text {
    /* color: #CDACA1; */
    color: #101935;
    h2 {
        text-align: center;
    }
}

.About-text p {
    /* text-align: left;*/
}

.About-text a {
    color: #000;
    text-decoration: underline;
}

.About-text a:hover,
.About-text a:active {
    color: rgb(105, 85, 54);
    text-decoration: underline;
}

.Restaurant-image,
.Menu-times-image {
    width: 100%;
    height: auto;
}

.Menu-text {
    color: #101935;
    text-align: center;
    border: double #101935;
}

.Menu-table {
    text-align: center;
    width: 100%;
}

td {
    padding-bottom: 5%;
}

.Diet-options {
    /*background-image: url("../images/wood.jpg");*/
    background-image: url("../images/dishes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    /*color: #000;*/
}

#button-div a {
    text-decoration: none;
}

#button-div .view-menu-btn {
    background-color: #FFF;
    border: 1px solid #000;
    color: #000;
}

#button-div .view-menu-btn:hover {
    background-color: #000;
    color: #fff;
}