.navbar-brand a:link,
.navbar-brand a:visited {
    color: #000;
    text-decoration: none;
}

.navbar-brand a:hover,
.navbar-brand a:active {
    color: #EABE7C;
    text-decoration: none;
}

.nav-link a:link,
.nav-link a:visited {
    color: #000;
    text-decoration: none;
}

.nav-link a:hover,
.nav-link a:active {
    color: #EABE7C;
    text-decoration: none;
}

.navbar .nav-link a {
    text-align: center;
}